<div class="wrapper-header">
  <div class="header">
    <div class="header-content text-center">
    <h1>Store your wine like pros.</h1>
      <p>Find the perfect place to store your wine everywhere.</p>
      <div class="container">
        <%= simple_form_for :search, url: cellars_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
          <%= f.input :space_available, label: false, placeholder: "how much bottles?" %>
          <%= f.button :submit %>
        <% end %>

      </div>
    </div>
  </div>
</div>
